{% extends 'base.html' %}

{% block content %}

<!-- <h1>Hello World!!!</h1>
<br> -->

<!-- {{ api }} -->
<!-- <br>
<br> -->
<br>
<h1>Weather of USA</h1>
<!-- <br> -->

<!-- If API exists then do all thesestuff-->
{% if api %}

	{% if api == "Error in calling API...." %}
		Error has occured !!! Please try again...

	{% else %}
		Area Name: {{ api.0.ReportingArea }} <br/>
		Air quality: {{ api.0.AQI }} <br/>
		Category: {{ api.0.Category.Name }} 
	{% endif %}

{% endif %}
<!--else do not do anything-->

<br>
<br>

<!-- {{ api_nepal }} -->

<h1>Weather of Nepal</h1>
<!-- <br> -->
<!-- {{ api_nepal.weather.10 }} -->
<!-- If API exists then do all thesestuff-->
{% if api %}

	{% if api == "Error in calling API...." %}
		Error has occured !!! Please try again...

	{% else %}
		Area Name: {{ api_nepal.weather.10.place }}<br/>
		Maximum Temperature: {{ api_nepal.weather.10.max }}<br/>
		Minimum Temperature: {{ api_nepal.weather.10.min }}
	{% endif %}

{% endif %}
<!--else do not do anything-->

<br>
<br>
{% endblock %}
